{% extends 'onlinecrime/base.html' %}
	
{% block body %}
	<h1 style="padding-bottom: 30px;" class="back1"><span class="container">ABOUT</span></h1>
	<div class="container" style=" padding-bottom: 40px;">
		
		<div class="row">
			<div class="col-sm-6 ">
				<img src="https://new-img.patrika.com/upload/images/2016/05/25/first-information-report-1464181452_835x547.jpg">
			</div>
			<div class="col-sm-6">
				<h3>About Peace Officer's</h3>
				<p>A crime website is a website that deals specifically with crime or careers . Many crime websites are designed to allow employers to post job requirements for a position to be filled and are commonly known as job boards. Other crime sites offer employer reviews, career and job-search advice, and describe different job descriptions or employers . Through a job website a prospective employee can locate and fill out a job application or submit resumes over the Internet for the advertised position. The Online Career Centre was developed as a non-profit organization backed by forty major corporations to allow job hunters to post their resumes and for recruiters to post job openings. In 1994 Robert J.McGovern began NetStart Inc. as software sold to companies for listing job openings ontheir websites and manage the incoming e-mails those listings generated.</p>
			</div>
		</div>
	</div>
{% endblock %}