<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>Online Crime Registration</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'onlinecrime/style.css' %}">
	
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light ">
		<div class="container">
			 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
  		  		<span class="navbar-toggler-icon"></span>
  			</button>
 		 	<a class="navbar-brand" href="#">Online Crime Reporting System</a>

	  		<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
	    		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		      		<li class="nav-item ">
		       			 <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
		      		</li>
		      		<li class="nav-item">
		       			 <a class="nav-link" href="{% url 'about' %}">About</a>
		      		</li>
		      		<li><a href="#" class="nav-link">User Login</a></li>
					<li><a href="#" class="nav-link">Employee Login</a></li>
					<li><a href="#" class="nav-link">Admin Login</a></li>
		      		
		    	</ul>
		    	<div class="nav navbar-nav navbar-right">
					
					<li><a href="#">Register</a></li>
				</div>
		    		
	  		</div>
		</div>
 		
	</nav>
	{% block body %}	
  			replace me
  	{% endblock%}

  	<div class="jumbotron jumbotron-fluid">
  		<div class="container">
	    	<div class="row">
	    		<div class="col-md-3">
	    			<h6>CONTACT INFO</h6>
	    			<li> Address No XXXXXX street</li>
	    			<li> Mars City Country</li>
	    			<li>Mobile: (123) 456-768</li>
	    			<li>Phone: (123) 456-768</li>
	    			<li>Email:</li>
	    		</div>

	    		<div class="col-md-3">
	    			<h6> MODULES </h6>
	    			<li> Criminal Module</li>
	    			<li> User Module</li>
	    			<li> Student Module</li>
	    			<li> Login Module</li>
	    			<li> Crime Module</li>
	    		</div>

	    		<div class="col-md-3">
	    			<h6>PROJECT LINKS</h6>
	    			<li> Home</li>
	    			<li> About Us</li>
	    			<li> Contact </li>
	    			<li> Login</li>
	    			<li> Email Us</li>
	    		</div>

	    		<div class="col-md-3">
	    			<h6>ABOUT PROJECT</h6>
	    			<p>The SIS can include features that can be considered as an enterprise resource planning or ERP system for a corporate customer. As such, many of the issues with ERP system selection methology, implementation and operations of an ERP system apply too</p>
	    		</div>
	    	</div>	
		</div>
	</div>

</body>
</html>
