
{% extends 'onlinecrime/base1.html' %}
	
{% block body %}
	<hr style="border-top:  4px solid rgb(77, 25, 77);">
	<div class="container">
		
				 
				<h3 ><center>Change Password</center></h3>
				<form class="form-horizontal" action = "" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					{% include 'onlinecrime/password-template.html' %}
					<div class="form-group row">
						
						<center><button class="btn btn-success btn-lg" type="Submit"> Save</button></center>
					
					</div>

				</form>
				
	</div>


{% endblock%}
