{% extends 'onlinecrime/base1.html' %}


{% block body %}
	<hr style="border-top:  4px solid rgb(77, 25, 77);">

	<div class="container bottom">
		<div class="row">
			<div class="col-md-2">
				<a href="">
					<div class ="dot" >
						<div  class="circle-txt"><strong>Crime Lists</strong></div>
					</div>
				</a>
			</div>
			<div class="col-md-2">
				<a href="{% url 'addcase' %}">
					<div class ="dot" >
						<div  class="circle-txt"><strong>My Case</strong></div>
					</div>
				</a>
			</div>
			<div class="col-md-2">
				<a href="">
					<div class ="dot" >
						<div  class="circle-txt"><strong>My Account</strong></div>
					</div>
				</a>
			</div>
			<div class="col-md-2">
				<a href="{% url 'change_password' %}">
					<div class ="dot" >
						<div  class="circle-txt"><strong>Change Password</strong></div>
					</div>
				</a>
			</div>
			<div class="col-md-2">
				<a href="{% url 'logout_user' %}">
					<div class ="dot" >
						<div  class="circle-txt"><strong>Logout</strong></div>
					</div>
				</a>
			</div>
			
		</div>
		
		
	</div>
{% endblock %}